body {
    background-color: #000;
    color: #fff;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
}

.barcode-frame {
    width: 60%; /* Adjusted width */
    height: 200px; /* Adjusted height */
    border: 2px solid #fff;
    margin: 20px auto;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #0056b3;
}

#detected-barcode-list {
    margin-top: 20px;
    list-style-type: none;
    padding: 0;
}
